<section class="cover{% if size|default(false) %} cover--{{ size }}{% endif %}{% if rounded|default(false) %} cover--rounded{% endif %} {{ class|default('') }}"{% if id is defined %} id="{{ id }}"{% endif %}{% if height is defined %} style="height: {{ height }};"{% endif %}>
    {% if overlay|default(false) and not overlay.gradient|default(false) %}
        <div class="cover__overlay" style="background-color: {{ overlay.color|default('rgb(0, 0, 0)') }}; opacity: {{ overlay.opacity|default('0.5') }};"></div>
    {% endif %}

    <div class="cover__bg{% if parallax|default(false) %} cover__bg--parallax{% endif %}"{% if background is defined %} style="background-image: {% if overlay.gradient|default(false) %}{{ overlay.gradient ~ ', ' }}{% endif %}url('{{ background }}');"{% endif %}></div>

    <div class="cover__body cover__body--fluid">
        {% block content_fluid %}{% endblock %}
    </div>

    <div class="cover__body cover__body--full">
        {% block content_full %}{% endblock %}
    </div>

    <div class="cover__body cover__body--left-top">
        {% block content_left_top %}{% endblock %}
    </div>

    <div class="cover__body cover__body--center-top">
        {% block content_center_top %}{% endblock %}
    </div>

    <div class="cover__body cover__body--right-top">
        {% block content_right_top %}{% endblock %}
    </div>

    <div class="cover__body cover__body--left-center">
        {% block content_left_center %}{% endblock %}
    </div>

    <div class="cover__body cover__body--center-center">
        {% block content_center_center %}{% endblock %}
    </div>

    <div class="cover__body cover__body--right-center">
        {% block content_right_center %}{% endblock %}
    </div>

    <div class="cover__body cover__body--left-bottom">
        {% block content_left_bottom %}{% endblock %}
    </div>

    <div class="cover__body cover__body--center-bottom">
        {% block content_center_bottom %}{% endblock %}
    </div>

    <div class="cover__body cover__body--right-bottom">
        {% block content_right_bottom %}{% endblock %}
    </div>
</section>
